.*
*.class
!.gitignore
/SourceCode/data-common
/logs

~*
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
obj
bin
*.suo
*.user
.* debug-anycpu
target
*.patch
*.jar
*.iml
*.log
